# Node Installation Packages
node_modules/

# Output directories
dist/
bin/

# Development directories
dev/
bkup/

# TypeScript files
tsconfig.json

# Download iCalendar files
ical/

# Environment variables
.env
